@import './normalize.css';
@font-face {
    font-family: Raleway;
    src: url(./Raleway-VariableFont_wght.ttf);
}

:root {
    --navy: #1a2e47;
    --biege: #f5f3ed;
}

body {
    font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--biege);
}

main {
    background-color: #fff;
}

a, p {
    font-weight: 500;
}

a, a:visited {
    color: var(--navy);
    text-decoration: none;
    user-select: none;
}

footer {
    margin: 2em 0;
    display: grid;
    grid-template-columns: repeat(3, 8em);
    place-items: center;
    place-content: center;
}

footer a {
    text-decoration: underline;
}

footer p {
    margin: 1em 0 0;
}

article[name=Resume] h2 {
    font-weight: normal;
    font-size: 1.2em;
    margin: 0;
}

article[name=Resume] ul {
    list-style-type: none;
    padding-inline-start: 0;
}

article[name=Resume] p {
    margin: 0 0 1em;
}

article[name=Projects] h2, article[name=Projects] h2 a {
    font-weight: 600;
}

article[name=Projects] a {
    text-decoration: underline;
}

.footer-col-3 {
    grid-column: auto / span 3;
}

.container {
    border: 2px solid var(--navy);
    width: 80%;
}

.container img {
    width: 100%;
}

.container img, .container {
    border-radius: 1em;
}

.footer-icon {
    width: 32px;
}

.grid {
    display: grid;
    row-gap: 2em;
    place-items: start center;
}

.logo {
    background-image: url(../logo_wordmark.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.shadow {
    box-shadow: 0 .5em 1em gray;
}

.work-listitem li {
    list-style-type: disc;
}

.work-listitem ul {
    margin: 0 1em 1em;
}

section.container, article.container {
    padding: 1em;
}

#nav-full {
    background: var(--biege);
}

#nav-full {
    position: sticky;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: [Logo] 1fr repeat(3, 7em);
    column-gap: 1em;
    align-items: center;
    padding: 1em;
}

#nav-full .link {
    font-size: 1.3em;
    padding: 1em 0;
    text-align: center;
    position: relative;
}

a, #nav-full .link:after {
    transition: all 200ms;
}

#nav-full .link:after {
    content: '';
    background-color: var(--navy);
    height: .2em;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

#nav-full .link:hover:after, #nav-full .current-page {
    width: 100%;
}

#nav-mobile .link:hover, #nav-mobile .current-page {
    background: var(--biege);
    color: var(--navy);
}

#nav-mobile .link {
    padding: 2em;
    display: block;
    color: var(--biege);
}

#nav-mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: sticky;
    top: 0;
    background: var(--biege);
}

#mobile-menu {
    z-index: 99;
    list-style-type: none;
    position: absolute;
    width: 100%;
    top: -50vh;
    margin: 0;
    padding-inline-start: 0;
    background-color: var(--navy);
}

#mobile-menu.active {
    top: 0;
}

#mobile-nav-btn.active {
    top: 14.5rem;
    transform: rotate(180deg);
}

#mobile-nav-btn {
    background: var(--navy);
    height: 64px;
    width: 64px;
    top: 5vh;
    left: 3em;
    border-radius: 50%;
    place-self: center;
    position: relative;
    transform: rotate(0);
    z-index: 100;
    box-shadow: 0 0 10px white;
}

#mobile-nav-btn img {
    position: relative;
    top: 5px;
}

#mobile-nav-btn, #mobile-menu {
    transition: top 250ms;
}

@media screen and (min-width: 768px) {
    article[name=Projects] h1 {
        grid-column: span 2;
    }
    .grid {
        grid-template-columns: repeat(2, 1fr);
        padding: 10vh 10vw;
    }
    .logo {
        width: 11em;
        height: 4em;
    }
    #nav-mobile {
        display: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .grid {
        grid-template-columns: 1fr;
        padding: 5vh 5vw;
    }
    .logo {
        position: relative;
        top: .75em;
        left: 2em;
        height: 5rem;
        width: 10rem;
    }
    #nav-full {
        display: none;
    }
}